.banner {
    background-image: image-url('fall.png');
    padding: 100px;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-position: center;
}


.banner-content {
  color: #FFF;
  position: relative;
  z-index: 2;
}



