/* code your card design here */
.card {
  padding: 100px;
  background-size: cover;
  position: relative;
  z-index: 0;
  background-position: center;
  margin: 5px;
}


.card-text {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #FFF;
}
