body {
  font-family: 'Open Sans', sans-serif;
  color: black;


}
h1, h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding: 10px;

}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding: 10px;
  color: $blue;
}
