 <div class="container-fluid">

  <div class="row footer">
    <ul class="list-inline">
      <% link_to "https://www.youtube.com/channel/UCwdrYL2m7CH5-KGfF4Lj5ig" do %>
      <li class="fa fa-youtube"></li>
      <% end %>
      <% link_to "https://www.facebook.com/adrienliagre1" do %>
      <li class="fa fa-facebook"></li>
      <% end %>
      <% link_to "https://twitter.com/L_ASdrI" do %>
      <li class="fa fa-twitter"></li>
      <% end %>
      <% link_to "https://www.linkedin.com/profile/view?id=AAIAABD-50UBv5lEfOUpXLXI3krY_QTaewDfA78&trk=nav_responsive_tab_profile_pic" do %>
      <li class="fa fa-linkedin"></li>
      <% end %>
    </ul>

    <p>This is a fictive product by lasdri</p>
  </div>
</div>
